.searchbar{
    width: 50%;
    margin: 2rem auto;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(0, 0, 0, 0.13);
    padding: 0.5rem 1.5rem;
    border-radius: 65px;
}


.searchBar__input{
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: none;
    font-family:  'Manrope', sans-serif;
}