.playlistModal{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: grid;
    place-content: center;
}

.modal{
    width: 100%;
    background:rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.164);
}

.modal__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.modal__top button{
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.modal__top button:hover{
    background: rgb(199, 199, 199);
}

.modal__btn{
    width: 100%;
    background: rgb(241, 241, 241);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.modal__btn:hover{
    background: rgb(233, 233, 233);
    outline: 2px solid rgba(214, 214, 214, 0.219);
}

.playlist__modal{
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1.5px solid rgba(0, 0, 0, 0.288);
    border-radius: 0.5rem;
    outline: 2px solid rgba(0, 0, 0, 0.171);
}

.modal__btnPlay{
    background: transparent;
    border: 1.5px solid rgba(0, 0, 0, 0.219);
}

.modal__label{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.modal__playLists{
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}