@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Manrope', sans-serif;
}

.app{
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 20vw 80vw;
}

input, textarea, button {font-family: inherit}